asgiref==3.9.1
cffi==1.17.1
Django==5.2.4
django-bootstrap5==25.1
django-braces==1.17.0
django-debug-toolbar==5.2.0
pycparser==2.22
python-decouple==3.8
setuptools==78.1.1
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
wheel==0.45.1
