{% extends "blog/base.html" %}
{% block content %}
    <h1>My saved drafts</h1>
    {% for post in post_list %}
        <hr>
        <div class="post">
            <h1><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|safe|truncatechars:200 }}</p>
            <p class="date">Created: {{ post.created_date|date:'d-m-Y'}}</p>
        </div>
        {% empty %}
        <hr>
        <p>You don't have any drafts saved.</p>
    {% endfor %}
{% endblock %}