{% extends "blog/base.html" %}
{% block content %}
    <h1 class="posttitle">{{ post.title }}</h1>

    {% if post.published_date %}
        <div class="date postdate">
            {{ post.published_date }}
        </div>
    {% endif %}

    <p class="postcontent">{{ post.text|safe|linebreaksbr }}</p>
    
    <div class="d-flex mb-3">
        <div class="me-auto">
        {% if not post.published_date %}
            <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        </div>
    {% if user.is_authenticated %}
        <div class="ps-2">
            <a class='btn btn-primary' href="{% url 'post_edit' pk=post.pk %}"><i class="bi bi-pencil"></i>
                Edit
            </a>
        </div>
        <div class="ps-2">
            <a class='btn btn-danger' href="{% url 'post_remove' pk=post.pk %}"><i class="bi bi-trash"></i>
                Delete
            </a>
        </div>
    {% endif %}
    </div>


    <hr>
    {% if post.published_date %}
        <div class="container">
            <div class="d-flex mb-3">
                <div class="me-auto">
                    <h3>Comments</h3>
                </div>
                <div class="ps-2">
                    <a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add a comment</a>
                </div>
            </div>
            {% for comment in post.comments.all reversed %}
                <p>{{ comment.text|safe|linebreaksbr }}</p>
                <p>Posted by: {{ comment.author }}</p>
                {{ comment.created_date }}
                    {% if user.is_authenticated and not comment.approved_comment%}
                        <a class='btn btn-danger' href="{% url 'comment_remove' pk=comment.pk %}">
                            <i class="bi bi-ban"></i>
                        </a>
                        <a class='btn btn-primary' href="{% url 'comment_approve' pk=comment.pk %}">
                            <i class="bi bi-check-lg"></i>
                        </a>
                    {% endif %}
                    <hr>
                {% empty %}
                <p>This post has no comments.</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}